<div class="container">
    <div *ngIf="errormsg" class="alert alert-danger alert-dismissible fade show col-lg-4 mt-2" role="alert">
        <strong>{{errormsg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show col-lg-4 mt-2" role="alert">
        <strong>{{successmsg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <form [formGroup]="userForm">
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="id" placeholder="Enter id">

        </div>
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="fullname" placeholder="Enter Full Name">
        </div>
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="email" placeholder="Enter Email">
        </div>

        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="mobile" placeholder="Enter Mobile">
        </div>

        <div class="col-lg-4 mt-2" *ngIf="!getparamid">
            <button type="submit" class="btn btn-primary btn-sm" (click)="userSubmit()">Create</button>
        </div>

        <div class="col-lg-4 mt-2" *ngIf="getparamid">
            <button type="submit" class="btn btn-dark btn-sm" (click)="userUpdate()">Update</button>
        </div>
    </form>
</div>